.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(64, 64, 115);

  &__quizzes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100px;
    background-color: rgb(113, 221, 180);
    margin: 20px;
    text-align: center;
    cursor: pointer;
  }

  &__text {
    margin: 5px 0;

    &--title {
      font-size: 24px;
    }

    &--description {
      font-size: 18px;
    }
  }
}
